.datePicker-container {
  display: flex;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin: 10px;
  padding: 10px;
}

.datePicker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 290px;
  margin-bottom: 10px;
}

.datePicker-header button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
}

.datePicker-body {
  width: 90%;
  padding-bottom: 10px;
}

.datePicker-body table {
  width: 100%;
  border-collapse: collapse;
}

.datePicker-body tbody {
  background: #f1f1f1;
}

.datePicker-body thead {
  background: #dfdfdf;
  color: #5c5c5c;
}

.datePicker-body th,
.datePicker-body td {
  text-align: end;
  border: 1px solid #ccc;
  padding: 5px;
}

.datePicker-body td:hover {
  background-color: rgb(255, 102, 0);
  color: white;
  cursor: pointer;
}

.datePicker-body td.active {
  background-color: #0b7fc2;
  color: white;
}

.datePicker-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datePicker-header-chooseMonth-container,
.datePicker-header-chooseYear-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datePicker-header-chooseMonth-container button,
.datePicker-header-chooseYear-container button {
  font-weight: 600;
  font-size: 15px;
}

.month-dropdown,
.year-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0; /* Align the dropdown with the button */
  width: 100px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Limit the height to 200px */
  overflow-y: auto; /* Enable vertical scrolling */
}

.dropdown-item {
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.dropdown-item:hover {
  background-color: lightblue;
}

.datePicker-body td.not-current-month {
  color: #c5c5c5;
}
